.advantages__container {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;

    @extend %align-list;
}

// .advantages__item:not(:first-child){
//     margin-top: 30px;
// }

.advantages__icon {
    width: 70px;
    height: 70px;
}

.advantages__title {
    margin-top: 0;
    margin-bottom: 10px;

    @include font(14px, 700, 16px, 0.03em);
    text-transform: uppercase;
    text-align: center;
    color: var(--title-color);
}

.advantages__text {
    margin-top: 0;

    @include font(14px, null, 24px, 0.03em);
    color: var(--first-text-color);
}

@media screen and (min-width: 768px){
    .advantage__section{
        padding-bottom: 60px;
    }
    .advantages {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;

        justify-content: center;
    }

    .advantages__container {
        margin-bottom: 30px;
        width: 354px;
        height: 120px;
    }
    
    .advantages__item {
        margin-left: 15px;
        flex-basis: calc((100% - 4*15px) / 4);
        // margin-top: 30px;
    }
}

@media screen and (min-width: 1200px){
    .advantages {
        display: flex;
    }
    
    .advantages__container {
        margin-bottom: 30px;
        width: 270px;
        height: 120px;
    }
    
    .advantages__item {
        margin-right: 0;
        text-align: none;
    }

    .advantages__title{
        text-align: inherit;
    }
}