.customers{
    padding: 60px 0;
    justify-content: center;
}

.customers__title {
    margin-bottom: 30px;
    @include font(36px, 700, 42px, 0.03em);
    text-align: center;

    color: var(--title-color);
}

.customers__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

    justify-content: center;
}

.customers__item {
    width: 210px;
    height: 92px;
    margin-left: auto;

    // margin-right: 30px;
    
    // &:last-child {
    //     margin-right: 0;
    // }

    flex-basis: calc((100% - 2*30px) / 2);
    margin-top: 30px;

}

.customers__link {
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @extend %align-list;
}

.cutomers__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.customers__link {
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
    }
}

@media screen and (min-width: 768px) {
    // .customers {
    //     padding: 60px 0;
    // }

    // .customers__list {
    //     display: flex;
    //     flex-wrap: wrap;
    //     margin-left: -30px;

    //     justify-content: center;
    // }

    // .advantages__container {
    //     margin-bottom: 30px;
    //     width: 354px;
    //     height: 120px;
    // }

    .customers__item {
        width: 170px;
        height: 92px;

        margin-left: 30px;
        flex-basis: calc((100% - 3*30px) / 3);
        margin-top: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .customers__item {
    margin-left: 30px;
    flex-basis: calc((100% - 6*30px) / 6);
    }
}
