// .section {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .container {
//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 479px) {
    .container {
        width: 100%;
        // margin-left: auto;
        // margin-right: auto;
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        // margin-left: auto;
        // margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        // margin-left: auto;
        // margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
