:root {
    --header-text-color: #212121;
    --header-link-color: #757575;
    --accent-color: #188ce8;
    --title-color: #212121;
    --hero-title-color: #ffffff;
    --hero-btn-title: #ffffff;
    --first-text-color: #757575;
    --second-text-color: #757575;
    --portfolio-btn-color: #212121;
}
